<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.nickaroot.rfmodule</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.frameworkBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template creates a Rocket Foods Module</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Embed in Application:</string>
		<key>PopUpDescription</key>
		<string>The application target that will host this new framework. The application will be set up to link to and embed the new framework.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
			<string>com.apple.product-type.application.messages</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>AssociatedTargetIsDependent</key>
		<true/>
		<key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
		<true/>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>Configurator/___VARIABLE_modulePrefix___Configurator.swift</string>
						<string>Constants/___VARIABLE_modulePrefix___Constants.swift</string>
						<string>Interactor/___VARIABLE_modulePrefix___Interactor.swift</string>
						<string>Interactor/___VARIABLE_modulePrefix___InteractorInput.swift</string>
						<string>Interactor/___VARIABLE_modulePrefix___InteractorOutput.swift</string>
						<string>Nodes/___VARIABLE_modulePrefix___MainNode.swift</string>
						<string>Nodes/___VARIABLE_modulePrefix___MainNode+Elements.swift</string>
						<string>Presenter/___VARIABLE_modulePrefix___Presenter.swift</string>
						<string>Presenter/___VARIABLE_modulePrefix___PresenterInput.swift</string>
						<string>Presenter/___VARIABLE_modulePrefix___Presenter+___VARIABLE_modulePrefix___InteractorOutput.swift</string>
						<string>Presenter/___VARIABLE_modulePrefix___Presenter+___VARIABLE_modulePrefix___ViewOutput.swift</string>
						<string>Router/___VARIABLE_modulePrefix___Router.swift</string>
						<string>View/___VARIABLE_modulePrefix___View.swift</string>
						<string>View/___VARIABLE_modulePrefix___ViewInput.swift</string>
						<string>View/___VARIABLE_modulePrefix___ViewOutput.swift</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>modulePrefix</string>
			<key>Name</key>
			<string>Prefix</string>
			<key>Description</key>
			<string>Enter module prefix</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<true/>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Default</key>
			<string></string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>NotPersisted</key>
			<false/>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Identifier</key>
							<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
							<key>Name</key>
							<string>___PACKAGENAME___Tests</string>
						</dict>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchLibraryOrFrameworkTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
				<key>FRAMEWORK_SEARCH_PATHS</key>
				<string>$(inherited) $(PROJECT_DIR)/Carthage/Build/iOS</string>
				<key>IPHONEOS_DEPLOYMENT_TARGET</key>
				<string>10.3</string>
			</dict>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___TARGETNAME:c99ExtIdentifier___.h</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchLibraryOrFrameworkTarget</string>
			</array>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
		<key>Configurator/___VARIABLE_modulePrefix___Configurator.swift</key>
		<dict>
			<key>Path</key>
			<string>Configurator/___VARIABLE_modulePrefix___Configurator.swift</string>
			<key>Group</key>
			<array>
				<string>Configurator</string>
			</array>
		</dict>
		<key>Constants/___VARIABLE_modulePrefix___Constants.swift</key>
		<dict>
			<key>Path</key>
			<string>Constants/___VARIABLE_modulePrefix___Constants.swift</string>
			<key>Group</key>
			<array>
				<string>Constants</string>
			</array>
		</dict>
		<key>Interactor/___VARIABLE_modulePrefix___Interactor.swift</key>
		<dict>
			<key>Path</key>
			<string>Interactor/___VARIABLE_modulePrefix___Interactor.swift</string>
			<key>Group</key>
			<array>
				<string>Interactor</string>
			</array>
		</dict>
		<key>Interactor/___VARIABLE_modulePrefix___InteractorInput.swift</key>
		<dict>
			<key>Path</key>
			<string>Interactor/___VARIABLE_modulePrefix___InteractorInput.swift</string>
			<key>Group</key>
			<array>
				<string>Interactor</string>
			</array>
		</dict>
		<key>Interactor/___VARIABLE_modulePrefix___InteractorOutput.swift</key>
		<dict>
			<key>Path</key>
			<string>Interactor/___VARIABLE_modulePrefix___InteractorOutput.swift</string>
			<key>Group</key>
			<array>
				<string>Interactor</string>
			</array>
		</dict>
		<key>Nodes/___VARIABLE_modulePrefix___MainNode.swift</key>
		<dict>
			<key>Path</key>
			<string>Nodes/___VARIABLE_modulePrefix___MainNode.swift</string>
			<key>Group</key>
			<array>
				<string>Nodes</string>
			</array>
		</dict>
		<key>Nodes/___VARIABLE_modulePrefix___MainNode+Elements.swift</key>
		<dict>
			<key>Path</key>
			<string>Nodes/___VARIABLE_modulePrefix___MainNode+Elements.swift</string>
			<key>Group</key>
			<array>
				<string>Nodes</string>
			</array>
		</dict>
		<key>Presenter/___VARIABLE_modulePrefix___Presenter.swift</key>
		<dict>
			<key>Path</key>
			<string>Presenter/___VARIABLE_modulePrefix___Presenter.swift</string>
			<key>Group</key>
			<array>
				<string>Presenter</string>
			</array>
		</dict>
		<key>Presenter/___VARIABLE_modulePrefix___PresenterInput.swift</key>
		<dict>
			<key>Path</key>
			<string>Presenter/___VARIABLE_modulePrefix___PresenterInput.swift</string>
			<key>Group</key>
			<array>
				<string>Presenter</string>
			</array>
		</dict>
		<key>Presenter/___VARIABLE_modulePrefix___Presenter+___VARIABLE_modulePrefix___InteractorOutput.swift</key>
		<dict>
			<key>Path</key>
			<string>Presenter/___VARIABLE_modulePrefix___Presenter+___VARIABLE_modulePrefix___InteractorOutput.swift</string>
			<key>Group</key>
			<array>
				<string>Presenter</string>
			</array>
		</dict>
		<key>Presenter/___VARIABLE_modulePrefix___Presenter+___VARIABLE_modulePrefix___ViewOutput.swift</key>
		<dict>
			<key>Path</key>
			<string>Presenter/___VARIABLE_modulePrefix___Presenter+___VARIABLE_modulePrefix___ViewOutput.swift</string>
			<key>Group</key>
			<array>
				<string>Presenter</string>
			</array>
		</dict>
		<key>Router/___VARIABLE_modulePrefix___Router.swift</key>
		<dict>
			<key>Path</key>
			<string>Router/___VARIABLE_modulePrefix___Router.swift</string>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
		</dict>
		<key>View/___VARIABLE_modulePrefix___View.swift</key>
		<dict>
			<key>Path</key>
			<string>View/___VARIABLE_modulePrefix___View.swift</string>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
		</dict>
		<key>View/___VARIABLE_modulePrefix___ViewInput.swift</key>
		<dict>
			<key>Path</key>
			<string>View/___VARIABLE_modulePrefix___ViewInput.swift</string>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
		</dict>
		<key>View/___VARIABLE_modulePrefix___ViewOutput.swift</key>
		<dict>
			<key>Path</key>
			<string>View/___VARIABLE_modulePrefix___ViewOutput.swift</string>
			<key>Group</key>
			<array>
				<string>View</string>
			</array>
		</dict>
	</dict>
	<key>Template Author</key>
	<string>Nick Aroot @nickaroot</string>
</dict>
</plist>
